openapi: 3.0.1
info:
  contact:
    email: apisupport@mastercard.com
    name: Match API
  description: Helps acquirers identify potentially high-risk merchants before entering
    to a merchant agreement.
  title: MATCH API
  version: 1.0.0
servers:
- url: https://api.mastercard.com/fraud/merchant/v3
paths:
  /termination-inquiry:
    post:
      description: |
        Returns information on merchants that have been terminated and merchants which have been inquired upon. MATCH can provide the acquiring bank with information if a Merchant has been terminated by another acquirer already, the reason for termination, the history of fraudulent or risky business practices that led to that termination and the inquiry that was made already on the Merchant or individual by own or another acquiring bank. The response also includes an inquiry reference number to be used for future reference in Termination Inquiry History Request API. For further details refer the documentation on [Use Cases.](/match/documentation/use-cases)
      parameters:
      - description: The zero-based offset to start at. The actual start position
          is this value +1. An offset of 10 starts at item 11. Combined with the PageLength
          option this allows pagination to be supported through the service requests.
        explode: true
        in: query
        name: PageOffset
        required: true
        schema:
          example: 0
          type: integer
        style: form
      - description: The maximum number of items to retrieve within the current "page"
          of results.
        explode: true
        in: query
        name: PageLength
        required: true
        schema:
          example: 10
          type: integer
        style: form
      - description: Describes format of the response you wants to serverd, response
          can be delevired either as XML or JSON.
        example: JSON
        explode: true
        in: query
        name: Format
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminationInquiryRequestSchema'
        description: Body of the Termination Inquiry Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminationInquirySchema'
          description: The termination inquiry response object.
        default:
          content:
            application/json:
              examples:
                defaultError:
                  $ref: '#/components/examples/defaultError'
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: '##### Retrieves terminated merchant information based on the criteria
        defined in the API request.'
      tags:
      - Termination Inquiry Request
  /termination-inquiry/{IRN}:
    get:
      description: "Returns information about Merchants, URLs and up to five principal\
        \ owners, that have been terminated by an acquiring bank from a previous inquiry.\_\
        To access the inquiry results of the past inquiries, acquirer should pass\
        \ the inquiry reference number (IRN) received from the previous inquiries\_\
        (TerminationInquiryRequest).\_For further details refer the documentation\
        \ on [Use Cases.](/match/documentation/use-cases) \n"
      parameters:
      - description: The zero-based offset to start at. The actual start position
          is this value +1. An offset of 10 starts at item 11. Combined with the PageLength
          option this allows pagination to be supported through the service requests.
        explode: true
        in: query
        name: PageOffset
        required: true
        schema:
          example: 0
          type: integer
        style: form
      - description: The maximum number of items to retrieve within the current "page"
          of results.
        explode: true
        in: query
        name: PageLength
        required: true
        schema:
          example: 10
          type: integer
        style: form
      - description: Describes format of the response you wants to serverd, response
          can be delevired either as XML or JSON.
        example: JSON
        explode: true
        in: query
        name: Format
        required: true
        schema:
          type: string
        style: form
      - description: The Member ICA number which is used to validate that the application
          has permission to hit the MATCH database. This number must be obtained from
          a participating MATCH acquiring bank or entity before a developer can access
          the MATCH resource.
        explode: true
        in: query
        name: AcquirerId
        required: true
        schema:
          example: "1996"
          type: string
        style: form
      - description: Inquiry Reference Number (IRN) A unique identifier generated
          by the MATCH system that is returned in the original, previously submitted
          POST request (contained within the "TerminationInquiry.Ref" response node).
          This unique identifier should be present as a URL parameter within all GET
          requests.
        example: 19962016070500348
        explode: false
        in: path
        name: IRN
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminationInquirySchema'
          description: The termination inquiry history response object.
        default:
          content:
            application/json:
              examples:
                defaultError:
                  $ref: '#/components/examples/defaultError'
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: '##### Retrieves historical termination inquiry results.'
      tags:
      - Termination Inquiry History Request
  /add-merchant:
    post:
      description: |
        Used by Acquirers to add a terminated a merchant in the MATCH system. Merchant information, and up to five principal owners per merchant, can be provided by an acquiring bank as part of the listing. For adding a terminated merchant,  Acquirer Id and Merchant Id combination must be unique and Merchant Id should be less than 15 characters. For further details refer the documentation on [Use Cases.](/match/documentation/use-cases)
      parameters:
      - description: Describes format of the response you wants to serverd, response
          can be delevired either as XML or JSON.
        example: JSON
        explode: true
        in: query
        name: Format
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTerminatedMerchantRequestSchema'
        description: Body of the Add Terminated Merchant Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTerminatedMerchantResponseSchema'
          description: The add terminated merchant response object.
        default:
          content:
            application/json:
              examples:
                defaultError:
                  $ref: '#/components/examples/defaultError'
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: '##### Adds a new terminated merchant to MATCH system.'
      tags:
      - Add Terminated Merchant
  /common/contact-details:
    post:
      description: "Returns the contact information for the acquirer id requested.\
        \ When MATCH returns a possible merchant match, this resource assists users\
        \ by retrieving the contact information associated with the Acquirer ID/ICA\
        \ that added the merchant to MATCH.\_For further details refer the documentation\
        \ on [Use Cases.](/match/documentation/use-cases) \n"
      parameters:
      - description: Describes format of the response you wants to serverd, response
          can be delevired either as XML or JSON.
        example: JSON
        explode: true
        in: query
        name: Format
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequestSchema'
        description: The contact request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponseSchema'
          description: The acquirer contact response object.
        default:
          content:
            application/json:
              examples:
                defaultError:
                  $ref: '#/components/examples/defaultError'
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: '##### Retrieve contact information of another acquirer.'
      tags:
      - Acquirer Contact Request
  /retro/retro-list:
    post:
      description: "Return the summary of Retroactive Inquiry matches for the given\
        \ Acquirer. Even if initial inquiry (TerminationInquiryRequest) does not result\
        \ in a possible match, there after it's still possible that the merchant listing\
        \ could appear sometime in the next 360 days. This may occur when another/same\
        \ acquirer enters the merchant into the MATCH database. The system will automatically\
        \ continue to search the MATCH system for 360 days. To view these notifications,\
        \ acquirers must use the Retroactive Inquiry service.\_For further details\
        \ refer the documentation on [Use Cases.](/match/documentation/use-cases)\n\
        <br><br>\n#### Note:\n(a)\_\_Each day, MATCH automatically conducts a retroactive\
        \ Inquiry search on every merchant on which the acquirer has submitted an\
        \ inquiry. MATCH automatically deletes each retroactive inquiry match after\
        \ seven days. Therefore, acquirers should view retroactive inquiries every\
        \ day to be sure that they do not miss a possible match.\n<br>\n(b)\_\_When\
        \ there are no results for RetroActive inquiry, users will get in response\
        \ HTTP status code of 400 and a response code of “RESPONSE_DATA_NORESULT”\
        . For information around all error codes refer [Code and Formats](/match/documentation/code-and-formats)\
        \ documentation page\n<br><br>\nTo understand the working of RetroActive API\
        \ use case, follow the steps mentioned below:\n<br>\n1.\_ Acquirer A (AcquirerId\
        \ = 1996) uses a TerminationInquiryRequest for a merchant “X Inc”\_\_but doesn’\
        t find a match.\n<br>\n2.\_\_Within the next 360 days, same/another Acquirer\
        \ (use same AcquirerId = 1996, as we have only one acquirer in sandbox) adds\
        \ a terminated merchant “X Inc”, who matches the search parameters used by\
        \ Acquirer A.\_\n<br>\n3.\_\_After adding the merchant, it takes one day for\
        \ Match Service to process retroactive inquiry match.\n<br>\n4.\_\_Post processing,\
        \ within the next 7 days, Acquirer A should use the Retroactive Inquiry API\
        \ to retrieve a list of retroactive matches.\_\n<br>\n5.\_\_This list of retroactive\
        \ inquiry matches includes an Inquiry reference number, which the Acquirer\
        \ A can use to get more details of match using RetroActive Inquiry Details\
        \ API. \n"
      parameters:
      - description: Describes format of the response you wants to serverd, response
          can be delevired either as XML or JSON.
        example: JSON
        explode: true
        in: query
        name: Format
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetroRequestSchema'
        description: The retro request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetroResponseSchema'
          description: The retroactive request response object.
        default:
          content:
            application/json:
              examples:
                defaultError:
                  $ref: '#/components/examples/defaultError'
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: '##### The retroactive inquiry helps acquirer to retrieve list of termination
        inquiry matches made within 360 days of inquiry initiation.'
      tags:
      - Retroactive Inquiry Request
  /retro/retro-inquiry-details:
    post:
      description: |
        The acquirer uses the Retroactive Inquiry API to retrieve a list of Retroactive Inquiry Reference Numbers which matched the acquirer’s previous termination inquiries. The acquirer then uses Retroactive Inquiry Details API to fetch details of the matches for each from previous inquiries. Details about merchant match includes information, such as, if a Merchant has been terminated by another acquirer after an inquiry was made, the reason for termination, and the history of fraudulent or risky business practices that led to that termination. For further details refer the documentation on [Use Cases.](/match/documentation/use-cases)
      parameters:
      - description: Describes format of the response you wants to serverd, response
          can be delevired either as XML or JSON.
        example: JSON
        explode: true
        in: query
        name: Format
        required: true
        schema:
          type: string
        style: form
      - description: The Member ICA number which is used to validate that the application
          has permission to hit the MATCH database. This number must be obtained from
          a participating MATCH acquiring bank or entity before a developer can access
          the MATCH resource.
        explode: true
        in: query
        name: AcquirerId
        required: true
        schema:
          example: "1996"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetroInquiryRequestSchema'
        description: The retro inquiry request object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetroInquiryResponseSchema'
          description: The retroactive inquiry response object.
        default:
          content:
            application/json:
              examples:
                defaultError:
                  $ref: '#/components/examples/defaultError'
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Unexpected error
      summary: '##### Retrieve retro inquiry search results'
      tags:
      - Retroactive Inquiry Details Request
components:
  examples:
    defaultError:
      value:
        Errors:
          Error:
          - Source: AcquirerId
            ReasonCode: INVALID_INPUT_VALUE
            summary: Acquirer Id is required.
            Recoverable: true
  parameters:
    PageOffset:
      description: The zero-based offset to start at. The actual start position is
        this value +1. An offset of 10 starts at item 11. Combined with the PageLength
        option this allows pagination to be supported through the service requests.
      explode: true
      in: query
      name: PageOffset
      required: true
      schema:
        example: 0
        type: integer
      style: form
    PageLength:
      description: The maximum number of items to retrieve within the current "page"
        of results.
      explode: true
      in: query
      name: PageLength
      required: true
      schema:
        example: 10
        type: integer
      style: form
    Format:
      description: Describes format of the response you wants to serverd, response
        can be delevired either as XML or JSON.
      example: JSON
      explode: true
      in: query
      name: Format
      required: true
      schema:
        type: string
      style: form
    AcquirerId:
      description: The Member ICA number which is used to validate that the application
        has permission to hit the MATCH database. This number must be obtained from
        a participating MATCH acquiring bank or entity before a developer can access
        the MATCH resource.
      explode: true
      in: query
      name: AcquirerId
      required: true
      schema:
        example: "1996"
        type: string
      style: form
  schemas:
    TerminationInquiryRequestSchema:
      example:
        TerminationInquiryRequest:
          Merchant:
            DoingBusinessAsName: BAIT R US
            UrlGroup:
            - CloseMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            - CloseMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              NoMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              ExactMatchUrls:
                Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
            Address:
              PostalCode: "66579"
              Country: USA
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: US
            AltPhoneNumber: "3165557625"
            NationalTaxId: "888596927"
            AddedOnDate: 10/13/2015
            AddedByAcquirerID: "1234"
            Url:
            - www.testmerchant.com
            - www.testmerchant.com
            SearchCriteria:
              MinPossibleMatchCount: "3"
              SearchAll: "N"
              Region:
              - A
              - A
              Country:
              - USA
              - USA
            Name: THE BAIT SHOP
            CountrySubdivisionTaxId: "492321030"
            PhoneNumber: "3165557625"
            ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
            TerminationReasonCode: "13"
            Principal:
            - MiddleInitial: P
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              LastName: SMITH
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
            - MiddleInitial: P
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              FirstName: DAVID
              NationalId: "541022104"
              PhoneNumber: "3165557625"
              AltPhoneNumber: "3165557625"
              LastName: SMITH
              DriversLicense:
                Number: M15698025
                Country: USA
                CountrySubdivision: IL
            ServiceProvDBA: XYZ FINANCIAL SERVICE
          AcquirerId: "1996"
      properties:
        TerminationInquiryRequest:
          $ref: '#/components/schemas/TerminationInquiryRequest'
      type: object
    TerminationInquiryRequest:
      example:
        Merchant:
          DoingBusinessAsName: BAIT R US
          UrlGroup:
          - CloseMatchUrls:
              Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            NoMatchUrls:
              Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            ExactMatchUrls:
              Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
          - CloseMatchUrls:
              Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            NoMatchUrls:
              Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
            ExactMatchUrls:
              Url:
              - WWW.SHOESHOP.COM
              - WWW.SHOESHOP.COM
          Address:
            PostalCode: "66579"
            Country: USA
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: US
          AltPhoneNumber: "3165557625"
          NationalTaxId: "888596927"
          AddedOnDate: 10/13/2015
          AddedByAcquirerID: "1234"
          Url:
          - www.testmerchant.com
          - www.testmerchant.com
          SearchCriteria:
            MinPossibleMatchCount: "3"
            SearchAll: "N"
            Region:
            - A
            - A
            Country:
            - USA
            - USA
          Name: THE BAIT SHOP
          CountrySubdivisionTaxId: "492321030"
          PhoneNumber: "3165557625"
          ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
          TerminationReasonCode: "13"
          Principal:
          - MiddleInitial: P
            Address:
              PostalCode: "66579"
              Country: USA
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: US
            FirstName: DAVID
            NationalId: "541022104"
            PhoneNumber: "3165557625"
            AltPhoneNumber: "3165557625"
            LastName: SMITH
            DriversLicense:
              Number: M15698025
              Country: USA
              CountrySubdivision: IL
          - MiddleInitial: P
            Address:
              PostalCode: "66579"
              Country: USA
              CountrySubdivision: IL
              City: DALLAS
              Line1: 42 ELM AVENUE
              Line2: SUITE 201
              Province: US
            FirstName: DAVID
            NationalId: "541022104"
            PhoneNumber: "3165557625"
            AltPhoneNumber: "3165557625"
            LastName: SMITH
            DriversLicense:
              Number: M15698025
              Country: USA
              CountrySubdivision: IL
          ServiceProvDBA: XYZ FINANCIAL SERVICE
        AcquirerId: "1996"
      properties:
        AcquirerId:
          description: The Member ICA number which is used to validate that the application
            has permission to hit the MATCH database. This number must be obtained
            from a participating MATCH acquiring bank or entity before a developer
            can access the MATCH resource.
          example: "1996"
          type: string
        Merchant:
          $ref: '#/components/schemas/Merchant'
      required:
      - AcquirerId
      type: object
    Merchant:
      example:
        DoingBusinessAsName: BAIT R US
        UrlGroup:
        - CloseMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          NoMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          ExactMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
        - CloseMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          NoMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
          ExactMatchUrls:
            Url:
            - WWW.SHOESHOP.COM
            - WWW.SHOESHOP.COM
        Address:
          PostalCode: "66579"
          Country: USA
          CountrySubdivision: IL
          City: DALLAS
          Line1: 42 ELM AVENUE
          Line2: SUITE 201
          Province: US
        AltPhoneNumber: "3165557625"
        NationalTaxId: "888596927"
        AddedOnDate: 10/13/2015
        AddedByAcquirerID: "1234"
        Url:
        - www.testmerchant.com
        - www.testmerchant.com
        SearchCriteria:
          MinPossibleMatchCount: "3"
          SearchAll: "N"
          Region:
          - A
          - A
          Country:
          - USA
          - USA
        Name: THE BAIT SHOP
        CountrySubdivisionTaxId: "492321030"
        PhoneNumber: "3165557625"
        ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
        TerminationReasonCode: "13"
        Principal:
        - MiddleInitial: P
          Address:
            PostalCode: "66579"
            Country: USA
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: US
          FirstName: DAVID
          NationalId: "541022104"
          PhoneNumber: "3165557625"
          AltPhoneNumber: "3165557625"
          LastName: SMITH
          DriversLicense:
            Number: M15698025
            Country: USA
            CountrySubdivision: IL
        - MiddleInitial: P
          Address:
            PostalCode: "66579"
            Country: USA
            CountrySubdivision: IL
            City: DALLAS
            Line1: 42 ELM AVENUE
            Line2: SUITE 201
            Province: US
          FirstName: DAVID
          NationalId: "541022104"
          PhoneNumber: "3165557625"
          AltPhoneNumber: "3165557625"
          LastName: SMITH
          DriversLicense:
            Number: M15698025
            Country: USA
            CountrySubdivision: IL
        ServiceProvDBA: XYZ FINANCIAL SERVICE
      properties:
        Name:
          description: The name of the business assigned by the principal owner(s)
          example: THE BAIT SHOP
          type: string
        DoingBusinessAsName:
          description: The name used by a merchant that could be different from the
            legal name of the business. Such as Bait R Us instead of the legal name,
            The Bait Shop.
          example: BAIT R US
          type: string
        Address:
          $ref: '#/components/schemas/Address'
        PhoneNumber:
          description: The Business or Merchant's phone number, including the area
            code. Within the USA, phone numbers have a length of 10, and for outside
            the US, it can be any length with a maximum of 12 digits. Within the U.S.
            phone numbers can not start with 0 or 1. If the number is outside the
            U.S. region; do not include the country code. The phone number must be
            digits only, with no format characters such as parenthesis or dashes.
          example: "3165557625"
          type: string
        AltPhoneNumber:
          description: The Business or Merchant's alternate phone number, including
            the area code. Within the USA, phone numbers have a length of 10, and
            for out outside the US, a max length of 25. Within the U.S. phone numbers
            can not start with 0 or 1. If the number is outside the U.S. region; do
            not include the country code. The number must be digits only, with no
            format characters such as parenthesis or dashes.
          example: "3165557625"
          type: string
        NationalTaxId:
          description: The Merchant national tax ID, leave blank if not in the U.S
            region.
          example: "888596927"
          type: string
        CountrySubdivisionTaxId:
          description: The Merchant Country Subdivision tax ID, leave blank if not
            in the U.S region.
          example: "492321030"
          type: string
        ServiceProvLegal:
          description: The name of the service provider associated with the merchant
            listed in the MATCH
          example: XYZ FINANCIAL SERVICE INCORPORATED
          type: string
        ServiceProvDBA:
          description: The name of the service provider associated with the merchant
            listed in the MATCH
          example: XYZ FINANCIAL SERVICE
          type: string
        Url:
          description: Website address of the merchant. A request may include multiple
            URLs . The total cumulative size of the URLs cannot exceed 20000 bytes.
          items:
            example: www.testmerchant.com
            type: string
          type: array
        Principal:
          description: The details for the principal owner of the business.  A maximum
            of 5 principals may be submitted.
          items:
            $ref: '#/components/schemas/Principal'
          type: array
        SearchCriteria:
          $ref: '#/components/schemas/SearchCriteria'
        AddedOnDate:
          description: Date the merchant was added to the MATCH database.
          example: 10/13/2015
          type: string
        TerminationReasonCode:
          description: A two digit numeric code indication why a particular merchant
            was terminated.  01   Account Data Compromise, 02   Common Points of Purchase,
            03   Laundering, 04   Excessive Chargebacks, 05   Excessive Fraud, 06   Reserved
            for Future Use, 07   Fraud Conviction, 08   MasterCard Questionable Merchant
            Audit Program, 09   Bankruptcy/Liquidation/Insolvency, 10   Violation
            of MasterCard Standards, 11   Merchant collusion, 12   PCI Data Security
            Standard, Noncompliance, 13   Illegal Transactions, 14   Identity Theft
          example: "13"
          type: string
        AddedByAcquirerID:
          description: The Member ICA that has added the merchant to the MATCH system
          example: "1234"
          type: string
        UrlGroup:
          items:
            $ref: '#/components/schemas/UrlGroup'
          type: array
      required:
      - Name
      type: object
    Address:
      example:
        PostalCode: "66579"
        Country: USA
        CountrySubdivision: IL
        City: DALLAS
        Line1: 42 ELM AVENUE
        Line2: SUITE 201
        Province: US
      properties:
        Line1:
          description: Line 1 of the street address for the merchant location. Usually
            includes street number and name.
          example: 42 ELM AVENUE
          type: string
        Line2:
          description: Line 2 of the street address,usually an apartment number or
            suite number.
          example: SUITE 201
          type: string
        City:
          description: The name of the city for a merchant location.
          example: DALLAS
          type: string
        CountrySubdivision:
          description: The abbreviated state or province code for a merchant location
            (only supported for US and Canada merchants).
          example: IL
          type: string
        Province:
          description: The name of the province for the location.
          example: US
          type: string
        PostalCode:
          description: The postal code for a merchant location (only supported for
            US and Canada merchants).
          example: "66579"
          type: string
        Country:
          description: The three digit country code of the principal owner. Valid
            values are Three digit alpha country codes as defined in ISO 3166-1.
          example: USA
          type: string
      required:
      - City
      - Country
      - Line1
      - PostalCode
      type: object
    Principal:
      example:
        MiddleInitial: P
        Address:
          PostalCode: "66579"
          Country: USA
          CountrySubdivision: IL
          City: DALLAS
          Line1: 42 ELM AVENUE
          Line2: SUITE 201
          Province: US
        FirstName: DAVID
        NationalId: "541022104"
        PhoneNumber: "3165557625"
        AltPhoneNumber: "3165557625"
        LastName: SMITH
        DriversLicense:
          Number: M15698025
          Country: USA
          CountrySubdivision: IL
      properties:
        FirstName:
          description: The first name of the principal owner of the business.
          example: DAVID
          type: string
        MiddleInitial:
          description: THe middle initial of the name of the principal owner of the
            business.
          example: P
          type: string
        LastName:
          description: The last name of the principal owner of the business.
          example: SMITH
          type: string
        Address:
          $ref: '#/components/schemas/Address'
        PhoneNumber:
          description: The Business or Merchant's phone number, including the area
            code. Within the USA, phone numbers have a length of 10, and for outside
            the US, it can be any length with a maximum of 12 digits. Within the U.S.
            phone numbers can not start with 0 or 1. If the number is outside the
            U.S. region; do not include the country code. The phone number must be
            digits only, with no format characters such as parenthesis or dashes.
          example: "3165557625"
          type: string
        AltPhoneNumber:
          description: The Business or Merchant's alternate phone number, including
            the area code. Within the USA, phone numbers have a length of 10, and
            for out outside the US, a max length of 25. Within the U.S. phone numbers
            can not start with 0 or 1. If the number is outside the U.S. region; do
            not include the country code. The number must be digits only, with no
            format characters such as parenthesis or dashes.
          example: "3165557625"
          type: string
        NationalId:
          description: The Social Security number of a principal owner. If the principal
            owner is not from the U.S. Region, then use their national ID card number.
          example: "541022104"
          type: string
        DriversLicense:
          $ref: '#/components/schemas/DriversLicense'
      required:
      - FirstName
      - LastName
      type: object
    PrincipalMatch:
      example:
        Address: M01
        NationalId: M00
        PhoneNumber: M00
        AltPhoneNumber: M00
        DriversLicense: M00
        Name: M01
      properties:
        Name:
          description: The name of the Business which has been terminated.
          example: M01
          type: string
        Address:
          description: Address of the merchant location.
          example: M01
          type: string
        PhoneNumber:
          description: The Business or Merchant's phone number, including the area
            code. Within the USA, phone numbers have a length of 10, and for outside
            the US, it can be any length with a maximum of 12 digits. Within the U.S.
            phone numbers can not start with 0 or 1. If the number is outside the
            U.S. region; do not include the country code. The phone number must be
            digits only, with no format characters such as parenthesis or dashes.
          example: M00
          type: string
        AltPhoneNumber:
          description: The Business or Merchant's alternate phone number, including
            the area code. Within the USA, phone numbers have a length of 10, and
            for out outside the US, a max length of 25. Within the U.S. phone numbers
            can not start with 0 or 1. If the number is outside the U.S. region; do
            not include the country code. The number must be digits only, with no
            format characters such as parenthesis or dashes.
          example: M00
          type: string
        NationalId:
          description: The Social Security number of a principal owner. If the principal
            owner is not from the U.S. Region, then use their national ID card number.
          example: M00
          type: string
        DriversLicense:
          description: The drivers license number of a principal owner. owner is not
            from the U.S. Region, then use their national ID card number.
          example: M00
          type: string
      type: object
    UrlMatch:
      example:
        url: M01
      properties:
        url:
          description: The name of the Business which has been terminated.
          example: M01
          type: string
      type: object
    DriversLicense:
      example:
        Number: M15698025
        Country: USA
        CountrySubdivision: IL
      properties:
        Number:
          description: The drivers license number of a principal owner. Required when
            Drivers License Country is provided. Should not be provided if Drivers
            License Country is not provided.
          example: M15698025
          type: string
        CountrySubdivision:
          description: The abbreviated state or province code for a merchant location
            (only supported for US and Canada merchants).  Required when Drivers License
            Country is 'USA' . Should not be provided for non-US Drivers License Country.
          example: IL
          type: string
        Country:
          description: The three digit country code of the principal owner. Valid
            values are Three digit alpha country codes as defined in ISO 3166-1. Required
            when Drivers License Number is provided. Should not be provided if Drivers
            License Number is not provided.
          example: USA
          type: string
      type: object
    SearchCriteria:
      example:
        MinPossibleMatchCount: "3"
        SearchAll: "N"
        Region:
        - A
        - A
        Country:
        - USA
        - USA
      properties:
        SearchAll:
          description: Determines if the inquiry is worldwide or not.  The Inquiry
            request can be either worldwide or Regions and/or Countries based. It
            cannot be both.  If it is not worldwide search (SearchAll = N) and if
            both  Region and Country are not specified, then search will happen for
            USA
          example: "N"
          type: string
        Region:
          items:
            description: Region in which the inquiry results must be obtained.  (1)  -
              U.S. REGION; (A)  - CANADA; (B)  - CARIB,C AMERICA,MEX,S AMERICA; (C)  -
              ASIA/PACIFIC; (D)  - EUROPE; (E)  - SOUTH ASIA MIDDLE EAST AFRICA.  A
              maximum of 6 regions may be submitted.
            example: A
            type: string
          type: array
        Country:
          items:
            description: The three digit country code of the principal owner. Valid
              values are Three digit alpha country codes as defined in ISO 3166-1.
              A maximum of 10 countries may be submitted.
            example: USA
            type: string
          type: array
        MinPossibleMatchCount:
          description: Determines how many minimum matches present for a merchant
            or inquiry to appear in the results.
          example: "3"
          type: string
      required:
      - SearchAll
      type: object
    TerminationInquirySchema:
      example:
        TerminationInquiry:
          Ref: https://api.mastercard.com/fraud/merchant/v3/termination-inquiry/1234567890
          PossibleInquiryMatches:
          - TotalLength: 2
            InquiredMerchant:
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "6367558968"
                NationalTaxId: '*****'
                AddedByAcquirerID: "1234"
                AddedOnDate: 12/03/2009
                Url:
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: '*****'
                PhoneNumber: "6367558963"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                MerchantMatch:
                  DoingBusinessAsName: M01
                  CountrySubdivisionTaxId: M01
                  Address: M01
                  UrlMatch:
                  - url: M01
                  - url: M01
                  PhoneNumber: M01
                  ServiceProvLegal: M00
                  AltPhoneNumber: M01
                  NationalTaxId: M02
                  Name: M01
                  ServiceProvDBA: M01
                  PrincipalMatch:
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "6367558968"
                NationalTaxId: '*****'
                AddedByAcquirerID: "1234"
                AddedOnDate: 12/03/2009
                Url:
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: '*****'
                PhoneNumber: "6367558963"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                MerchantMatch:
                  DoingBusinessAsName: M01
                  CountrySubdivisionTaxId: M01
                  Address: M01
                  UrlMatch:
                  - url: M01
                  - url: M01
                  PhoneNumber: M01
                  ServiceProvLegal: M00
                  AltPhoneNumber: M01
                  NationalTaxId: M02
                  Name: M01
                  ServiceProvDBA: M01
                  PrincipalMatch:
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
          - TotalLength: 2
            InquiredMerchant:
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "6367558968"
                NationalTaxId: '*****'
                AddedByAcquirerID: "1234"
                AddedOnDate: 12/03/2009
                Url:
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: '*****'
                PhoneNumber: "6367558963"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                MerchantMatch:
                  DoingBusinessAsName: M01
                  CountrySubdivisionTaxId: M01
                  Address: M01
                  UrlMatch:
                  - url: M01
                  - url: M01
                  PhoneNumber: M01
                  ServiceProvLegal: M00
                  AltPhoneNumber: M01
                  NationalTaxId: M02
                  Name: M01
                  ServiceProvDBA: M01
                  PrincipalMatch:
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "6367558968"
                NationalTaxId: '*****'
                AddedByAcquirerID: "1234"
                AddedOnDate: 12/03/2009
                Url:
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                - Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: '*****'
                PhoneNumber: "6367558963"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                MerchantMatch:
                  DoingBusinessAsName: M01
                  CountrySubdivisionTaxId: M01
                  Address: M01
                  UrlMatch:
                  - url: M01
                  - url: M01
                  PhoneNumber: M01
                  ServiceProvLegal: M00
                  AltPhoneNumber: M01
                  NationalTaxId: M02
                  Name: M01
                  ServiceProvDBA: M01
                  PrincipalMatch:
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                  - Address: M01
                    NationalId: M00
                    PhoneNumber: M00
                    AltPhoneNumber: M00
                    DriversLicense: M00
                    Name: M01
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
          PageOffset: 0
          TransactionReferenceNumber: "12345"
          PossibleMerchantMatches:
          - TotalLength: 2
            TerminatedMerchant:
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "3165557625"
                NationalTaxId: "888596927"
                AddedOnDate: 10/13/2015
                AddedByAcquirerID: "1234"
                Url:
                - www.testmerchant.com
                - www.testmerchant.com
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: "492321030"
                PhoneNumber: "3165557625"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "3165557625"
                NationalTaxId: "888596927"
                AddedOnDate: 10/13/2015
                AddedByAcquirerID: "1234"
                Url:
                - www.testmerchant.com
                - www.testmerchant.com
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: "492321030"
                PhoneNumber: "3165557625"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
          - TotalLength: 2
            TerminatedMerchant:
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "3165557625"
                NationalTaxId: "888596927"
                AddedOnDate: 10/13/2015
                AddedByAcquirerID: "1234"
                Url:
                - www.testmerchant.com
                - www.testmerchant.com
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: "492321030"
                PhoneNumber: "3165557625"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
            - Merchant:
                DoingBusinessAsName: BAIT R US
                UrlGroup:
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                - CloseMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  NoMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                  ExactMatchUrls:
                    Url:
                    - WWW.SHOESHOP.COM
                    - WWW.SHOESHOP.COM
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                AltPhoneNumber: "3165557625"
                NationalTaxId: "888596927"
                AddedOnDate: 10/13/2015
                AddedByAcquirerID: "1234"
                Url:
                - www.testmerchant.com
                - www.testmerchant.com
                SearchCriteria:
                  MinPossibleMatchCount: "3"
                  SearchAll: "N"
                  Region:
                  - A
                  - A
                  Country:
                  - USA
                  - USA
                Name: THE BAIT SHOP
                CountrySubdivisionTaxId: "492321030"
                PhoneNumber: "3165557625"
                ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
                TerminationReasonCode: "13"
                Principal:
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                - MiddleInitial: P
                  Address:
                    PostalCode: "66579"
                    Country: USA
                    CountrySubdivision: IL
                    City: DALLAS
                    Line1: 42 ELM AVENUE
                    Line2: SUITE 201
                    Province: US
                  FirstName: DAVID
                  NationalId: "541022104"
                  PhoneNumber: "3165557625"
                  AltPhoneNumber: "3165557625"
                  LastName: SMITH
                  DriversLicense:
                    Number: M15698025
                    Country: USA
                    CountrySubdivision: IL
                ServiceProvDBA: XYZ FINANCIAL SERVICE
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
      properties:
        TerminationInquiry:
          $ref: '#/components/schemas/TerminationInquiry'
      type: object
    TerminationInquiry:
      example:
        Ref: https://api.mastercard.com/fraud/merchant/v3/termination-inquiry/1234567890
        PossibleInquiryMatches:
        - TotalLength: 2
          InquiredMerchant:
          - Merchant:
              DoingBusinessAsName: BAIT R US
              UrlGroup:
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              AltPhoneNumber: "6367558968"
              NationalTaxId: '*****'
              AddedByAcquirerID: "1234"
              AddedOnDate: 12/03/2009
              Url:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Region:
                - A
                - A
                Country:
                - USA
                - USA
              Name: THE BAIT SHOP
              CountrySubdivisionTaxId: '*****'
              PhoneNumber: "6367558963"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
              TerminationReasonCode: "13"
              Principal:
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              ServiceProvDBA: XYZ FINANCIAL SERVICE
          - Merchant:
              DoingBusinessAsName: BAIT R US
              UrlGroup:
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              AltPhoneNumber: "6367558968"
              NationalTaxId: '*****'
              AddedByAcquirerID: "1234"
              AddedOnDate: 12/03/2009
              Url:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Region:
                - A
                - A
                Country:
                - USA
                - USA
              Name: THE BAIT SHOP
              CountrySubdivisionTaxId: '*****'
              PhoneNumber: "6367558963"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
              TerminationReasonCode: "13"
              Principal:
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              ServiceProvDBA: XYZ FINANCIAL SERVICE
        - TotalLength: 2
          InquiredMerchant:
          - Merchant:
              DoingBusinessAsName: BAIT R US
              UrlGroup:
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              AltPhoneNumber: "6367558968"
              NationalTaxId: '*****'
              AddedByAcquirerID: "1234"
              AddedOnDate: 12/03/2009
              Url:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Region:
                - A
                - A
                Country:
                - USA
                - USA
              Name: THE BAIT SHOP
              CountrySubdivisionTaxId: '*****'
              PhoneNumber: "6367558963"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
              TerminationReasonCode: "13"
              Principal:
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              ServiceProvDBA: XYZ FINANCIAL SERVICE
          - Merchant:
              DoingBusinessAsName: BAIT R US
              UrlGroup:
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              AltPhoneNumber: "6367558968"
              NationalTaxId: '*****'
              AddedByAcquirerID: "1234"
              AddedOnDate: 12/03/2009
              Url:
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              - Url:
                - WWW.SHOESHOP.COM
                - WWW.SHOESHOP.COM
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Region:
                - A
                - A
                Country:
                - USA
                - USA
              Name: THE BAIT SHOP
              CountrySubdivisionTaxId: '*****'
              PhoneNumber: "6367558963"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              MerchantMatch:
                DoingBusinessAsName: M01
                CountrySubdivisionTaxId: M01
                Address: M01
                UrlMatch:
                - url: M01
                - url: M01
                PhoneNumber: M01
                ServiceProvLegal: M00
                AltPhoneNumber: M01
                NationalTaxId: M02
                Name: M01
                ServiceProvDBA: M01
                PrincipalMatch:
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
                - Address: M01
                  NationalId: M00
                  PhoneNumber: M00
                  AltPhoneNumber: M00
                  DriversLicense: M00
                  Name: M01
              TerminationReasonCode: "13"
              Principal:
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              ServiceProvDBA: XYZ FINANCIAL SERVICE
        PageOffset: 0
        TransactionReferenceNumber: "12345"
        PossibleMerchantMatches:
        - TotalLength: 2
          TerminatedMerchant:
          - Merchant:
              DoingBusinessAsName: BAIT R US
              UrlGroup:
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              AltPhoneNumber: "3165557625"
              NationalTaxId: "888596927"
              AddedOnDate: 10/13/2015
              AddedByAcquirerID: "1234"
              Url:
              - www.testmerchant.com
              - www.testmerchant.com
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Region:
                - A
                - A
                Country:
                - USA
                - USA
              Name: THE BAIT SHOP
              CountrySubdivisionTaxId: "492321030"
              PhoneNumber: "3165557625"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              TerminationReasonCode: "13"
              Principal:
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              ServiceProvDBA: XYZ FINANCIAL SERVICE
            MerchantMatch:
              DoingBusinessAsName: M01
              CountrySubdivisionTaxId: M01
              Address: M01
              UrlMatch:
              - url: M01
              - url: M01
              PhoneNumber: M01
              ServiceProvLegal: M00
              AltPhoneNumber: M01
              NationalTaxId: M02
              Name: M01
              ServiceProvDBA: M01
              PrincipalMatch:
              - Address: M01
                NationalId: M00
                PhoneNumber: M00
                AltPhoneNumber: M00
                DriversLicense: M00
                Name: M01
              - Address: M01
                NationalId: M00
                PhoneNumber: M00
                AltPhoneNumber: M00
                DriversLicense: M00
                Name: M01
          - Merchant:
              DoingBusinessAsName: BAIT R US
              UrlGroup:
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              - CloseMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                NoMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
                ExactMatchUrls:
                  Url:
                  - WWW.SHOESHOP.COM
                  - WWW.SHOESHOP.COM
              Address:
                PostalCode: "66579"
                Country: USA
                CountrySubdivision: IL
                City: DALLAS
                Line1: 42 ELM AVENUE
                Line2: SUITE 201
                Province: US
              AltPhoneNumber: "3165557625"
              NationalTaxId: "888596927"
              AddedOnDate: 10/13/2015
              AddedByAcquirerID: "1234"
              Url:
              - www.testmerchant.com
              - www.testmerchant.com
              SearchCriteria:
                MinPossibleMatchCount: "3"
                SearchAll: "N"
                Region:
                - A
                - A
                Country:
                - USA
                - USA
              Name: THE BAIT SHOP
              CountrySubdivisionTaxId: "492321030"
              PhoneNumber: "3165557625"
              ServiceProvLegal: XYZ FINANCIAL SERVICE INCORPORATED
              TerminationReasonCode: "13"
              Principal:
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              - MiddleInitial: P
                Address:
                  PostalCode: "66579"
                  Country: USA
                  CountrySubdivision: IL
                  City: DALLAS
                  Line1: 42 ELM AVENUE
                  Line2: SUITE 201
                  Province: US
                FirstName: DAVID
                NationalId: "541022104"
                PhoneNumber: "3165557625"
                AltPhoneNumber: "3165557625"
                LastName: SMITH
                DriversLicense:
                  Number: M15698025
                  Country: USA
                  CountrySubdivision: IL
              ServiceProvDBA: XYZ FINANCIAL SERVICE
            MerchantMatch:
              DoingBusinessAsName: M01
              CountrySubdivisionTaxId: M01
              Address: M01
              UrlMatch:
              - url: M01
              - url: M01
              PhoneNumber: M01
              ServiceProvLegal: M00
[...]
